.input-group {
  width: 50%;
  min-width: 280px;
  margin: auto;
}

.fa-circle {
  transform: scale(0.5);
}

.fa-square-xmark {
  cursor: pointer;
}

.task_text {
  width: 30%;
  min-width: 230px;
  cursor: pointer;
}